{% extends 'base.html' %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<section>
    <div class="container footer-padding">
        <div class="row">
            <div class="col-12">
                <hr>
                <h2 class="logo-font mb-4 text-center">About Us</h2>
            </div>

            <div class="container content">
                <div class="row justify-content-center align-items-center text-justify">
                    <div class="col-12 col-lg-6">
                        <h3 class="text-center">WELCOME TO MX Monster</h3>
                        <p>
                            MX Monster is an all new online motorcycle clothing and accessory shop.
                        </p>
                        <p>
                            We aim to provide the top branded motorcycle gear at very affordable prices. We are based in
                            Clonmel Co. Tipperary and get daily supplies of stock from the main motorcycle distributors
                            in
                            Ireland,UK and Mainland Europe. Anything that you may need but do not see on our website
                            please
                            send us an e-mail contact@mxmonster.com and we will check availability for you.
                            <p>
                                <p>
                                    The website is run by bikers for bikers and our aim is to offer a top class service.
                                    We
                                    aim to be as competitive as possible on prices but if there is any product on our
                                    site
                                    which you feel is not, then please let us know.
                                </p>

                    </div>
                    <div class="col-12 col-lg-6">
                        <img class="img-fluid mt-3" src="{% static 'img/mx_monster_store.jpg'%}" alt="about us">
                    </div>
                    <br>
                </div>
                <div class="row justify-content-center align-items-center text-justify">
                    <div class="col-12 col-lg-6">
                        <img class="img-fluid mt-3" src="{% static 'img/mx_monster_store_helmets.jpg'%}" alt="about us">
                    </div>
                    <div class="col-12 col-lg-6">
                        <p>
                            Over time we will be adding more products and brands and also aim to keep prices as low as
                            possible.
                        </p>
                        <p>
                            If any items that you order are out of stock we will will update the order line to notify
                            you of
                            this, please ensure contact details are correct, if you need updates regarding your order
                            please
                            use your order number.
                        </p>
                        <p>
                            Our company philosophy? Our customers are, of course, the focus of everything we do. Each
                            individual member of staff at MX Monster contributes to our company culture with his or her
                            individuality, actively helping to shape our future. We aim to offer our customers the best
                            possible service.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team -->
<section id="team" class="py-5">
    <div class="container">
        <h2 class="text-center">Our Team</h2>
        <div class="row text-center">
            {% if staff %}
            {% for employee in staff %}
            <div class="col-md-4">
                <img src="{{ employee.photo.url }}" alt="Photo of the sales advisor"
                    aria-label="Photo of the sales advisor" class="rounded mb-3 img-fluid">
                <h4>{{ employee.name }}</h4>
                <p>{{ employee.description }}</p>
                <hr>
                <p>
                    <i class="fa-solid fa-phone"></i> {{ employee.phone }}</p>
                <p>
                    <i class="fa-solid fa-envelope-open"></i> {{ employee.email }}</p>
            </div>
            {% endfor %}
            {% else %}
            <div class="container-lg">
                <div class="text-center text-danger">
                    <h4>No staff available to view.</h4>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% include 'partials/_footer.html' %}
{% endblock %}