{% extends 'base.html' %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container footer-padding">
    <div class="row">
        <div class="col-12">
            <hr>
            <h2 class="logo-font mb-4 text-center">Frequently Asked Questions</h2>
            <hr>
            {% if questions%}
            {% for question in questions %}
            <!-- accordeaon header -->
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#heading-{{ question.id }}">
                            {{ question.question }}<i class="fa fa-angle-down"></i>
                        </a>
                    </div>
                    <div id="heading-{{ question.id }}" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            {{ question.answer }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else%}
            <div class="container-lg">
                <div class="text-center text-danger">
                    <h4>No frequently asked questions and answers to display</h4>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
</div>
</div>
{% include 'partials/_footer.html' %}
{% endblock %}