{% extends 'base.html' %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">CONTACT US</h2>
            <hr>
        </div>
    </div>
</div>
<div class="container footer-padding">
    <div class="row">
        <!-- Contact form -->
        <br>
        <div class="col-md-8 contact-form">
            <h2 class="mb-2">Leave Us a Message</h2>
            <p>If you have a question or require additional information, leave us a message by filling up the form
                below.</p>
            <p>We will contact you as soon as possible.</p>
            <div class="row">
                <div class="col">
                    <form action="{% url 'contact' %}" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                        {{ field | as_crispy_field}}
                        {% endfor %}
                        <input type="submit" value="Submit" class="btn btn-black text-white mb-3" aria-label="submit">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="business-hours">
                <h2 class=" text-center">Opening Hours</h2>
                <ul class="list-unstyled opening-hours">
                    <li>Sunday <span class="float-right">Closed</span></li>
                    <li>Monday <span class="float-right">10:00-19:00</span></li>
                    <li>Tuesday <span class="float-right">10:00-19:00</span></li>
                    <li>Wednesday <span class="float-right">10:00-19:00</span></li>
                    <li>Thursday <span class="float-right">10:00-19:00</span></li>
                    <li>Friday <span class="float-right">10:00-19:00</span></li>
                    <li>Saturday <span class="float-right">10:00-18:00</span></li>
                </ul>
                <div class="d-grid text-center">
                    <p class="mb-2"><i class="fa-solid fa-location-dot"></i><br>
                        <strong>28 Main Street</strong>
                        <br>
                        Clonmel
                        <br>
                        Co.Tipperary
                    </p>
                    <p class="mb-0">
                        <i class="fa-solid fa-phone"></i><br>
                        052-0125418
                    </p>
                    <p class="mb-0">
                        contact@mxmonster.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partials/_footer.html' %}
{% endblock %}